.clearboth {
	clear: both;
}@charset "UTF-8";
/* CSS Document */

/*---- Site Colors 
#ebebeb slightly darker gray 
#ffffff main background
#2f5789 brand color

----*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-width: 1400px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	width:100%;
	background-color: #ebebeb;
		overflow: hidden;
}
nav {
	width: 1440px;
	height: 94px;
	background-color: #ebebeb;
	overflow: hidden;
	margin-bottom: 0 auto 15px;
	
}

.logo {
	width: 60px;
	margin-top: 26px;
	margin-bottom: 20px;
	margin-left: 154px;
	
}

nav ul {
	margin-top: 48px;
	margin-right: 86px;
	margin-bottom: 32px;
	
	
	
}

nav li {
	display: inline;
	margin-left: 57px;
	font-weight: 600;
	
}



.nav {
	float: right;
}

.nav a.active {
	background-color: #2f5789;
	color: white;
	padding: 5px;
}
 nav a:link {
	text-decoration: none;
	color: #2f5789;
	
}

nav a:visited {
	text-decoration: none;
	color: #2f5789;
}

nav a:hover {
	text-decoration: none;
	background-color: #2f5789;
	color: #ffffff;
	padding: 5px;
}


.wrapper {
	width: 1135px;
	height: 830px;
	margin: 0 auto;
	
}

h1 {
	font-weight: 800;
	font-size: 45px;
	color: #2f5789;
	margin-top: 64px;
	margin-bottom: 43px;
	margin-left: 10px;
}

.column {
	float:left;
	margin-right: 222px;
	line-height: 1.5;
}

.secondcolumn li {
	line-height: 1.5;
	
}

h3 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 38px;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
}

h5 {
	font-weight:400;
	font-style: italic;
	margin-bottom: 25px;
}





#download  {
	background-color: #2f5789;
	color: #ffffff;
	padding: 8px;
	margin-bottom: 150px;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
}

 #container2 { /* new */
	width:100%;
	 background-color: #ebebeb;
	 overflow: hidden;
	 clear: both;
	 margin-top: 80px; /* you may change the size here*/
}

footer {
	width: 1440px;
	height: 94px;
	background-color: #ebebeb;
	margin: 0 auto;
	
	
}

.small {
	float:left;
	color: #2f5789;
	font-weight: 500;
	font-size: 14px;
	margin-top: 40px;
	margin-left: 100px;
}

.social {
	margin-right: 34px;
}


.social img {
	float: right;
	width: 43px;
	background-color: #ffffff;
	margin-top:32px;
	margin-right: 34px;
	border: 2px solid #ffffff;
	border-radius: 100px;
}

p {
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	max-width: 1120px;
	margin-bottom: 62px;
	margin-left: 10px; /* you may change the size here*/
}

.clearboth {
	clear: both;
}



/*Contact Styles*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#2f5789;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 20px;
}


/*Homepage Styles*/

.info {
	float: left;
	width: 600px;
}
p {
	line-height: 1.5;
}
.photo {
	float: right;
	width: 460px;
	height: 776px;
}


/*Portfolio Styles*/

.portfolio {
	float: right;
}

.portfolio a:hover {
	background-color:rgba(47,87,137,0.70)
}

.portfolio1 {
	float: right;
}

.portfolio2 {
	float: right;
}

.portfolio3 {
	float: right;
}

.portfolio4 {
	float: right;
}

.portcontainer img {
	padding:10px;
}


.directional {
	margin-top: 54px;
	margin-left: 114px;
	margin-bottom: 90px;
	
}

.directional a {
	background-color: #2f5789;
	color: #ffffff;
	padding: 8px;
	margin-bottom: 150px;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
}

.directional a:hover {
	background-color:rgba(47,87,137,0.70) 
	
}
