@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	color: #2B69DC;
	margin-top: 50px;
}

h2 {
	text-align: center;
}

h3 {
	text-align:center;
	margin-bottom: 40px;
	font-style: italic;
}

h4 {
	font-weight:bold;
	color:#074FB5;
	padding-top: 5px;
	padding-bottom: 10px
}

.weekly {
	float: left;
	padding-right: 45px;
}

#project {
	float: right; 
	margin-left: 50px;
}

dt {
	font-weight: 600;
	margin-bottom: 10px
}

dd {
	margin-bottom: 5px;
}

a:link {
	color: dodgerblue;
}

a:visited {
	color: crimson;
}

a:hover {
	text-decoration: none;
	color: darkblue;
	
}